.block {
  &__content {
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
  }

  &__header-column:not(:last-child) {
    margin-right: 10px;
  }

  &__buttons {
    margin-left: 10px;
    position: relative;
    bottom: 2px;
  }

  &__controls-wrapper {
    width: 55px;
  }

  &_with-slider {
    .slider {
      margin-right: -$content-horizontal-padding;
      margin-left: -$content-horizontal-padding;
      padding-left: $content-horizontal-padding;
      height: 100%;

      &__right_padding {
        padding-right: 35px;
      }
    }
  }

  @media (max-width: $small-viewport) {
    &_with-slider {
      margin-right: -$content-horizontal-padding-on-small-viewport;
      margin-left: -$content-horizontal-padding-on-small-viewport;

      .block__header {
        margin-left: $content-horizontal-padding-on-small-viewport;
        margin-right: $content-horizontal-padding-on-small-viewport;
      }

      .block__controls-wrapper {
        display: none;
      }

      .slider {
        margin-right: 0;
        margin-left: 0;
        padding-left: $content-horizontal-padding-on-small-viewport;

        &__right_padding {
          padding-right: 5px;
        }
      }
    }
  }
}
