// Colors
$primary-color: #ffd93e;
$primary-color-variant: #ffcd00;
$secondary-color: #f7f7f7;
$secondary-color-variant: #e6e6e6;
$text-color: #333;
$text-accent-color: #d00;

// Popup
$popup-animation-duration: 0.5s;
$popup-animation-timing: cubic-bezier(0.165, 0.84, 0.44, 1);

$header-width: 92px;
$footer-width: 64px;
$content-horizontal-padding: 40px;
$header-height-on-small-viewport: 64px;
$device-range-control-height-on-small-viewport: 336px;
$content-horizontal-padding-on-small-viewport: 20px;

// Slider
$slider-item-width: 200px;
$slider-item-height: 120px;
$slider-item-margin: 15px;

// Media
$small-viewport: 940px;

* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  margin: 0;
  font-family: ArialMT, Arial, Helvetica, sans-serif;
  color: $text-color;
}

.main-content {
  display: grid;
  grid-gap: 30px 26px;
  padding: 30px $content-horizontal-padding;
  grid-template-columns: 630px calc(100vw - 630px - 80px - 26px);
  grid-template-rows: 373px;
  overflow: hidden;

  // Прибитие футера книзу
  min-height: calc(100vh - #{$header-width} - #{$footer-width});

  @media (max-width: $small-viewport) {
    padding: 0 $content-horizontal-padding-on-small-viewport 40px
      $content-horizontal-padding-on-small-viewport;
    grid-template-columns: calc(
      100vw - #{$content-horizontal-padding-on-small-viewport} * 2
    );
    grid-template-rows: auto;
  }
}

.main-info {
  @media (max-width: $small-viewport) {
    .block__header {
      display: none;
    }
  }
}

.favorite-scenarios {
  max-width: 640px;

  .slider__item-inner {
    height: 100px;
  }

  .block__content {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 34px);
  }

  @media (max-width: 1000px) {
    max-width: initial;

    .block__controls-wrapper {
      display: none;
    }
  }
}

.favorite-devices {
  grid-column: span 2;

  .button_dropdown {
    display: none;
  }

  @media (max-width: $small-viewport) {
    grid-column: initial;
  }

  @media (max-width: 700px) {
    .block__buttons {
      display: none;
    }

    .device-filter.button_dropdown {
      display: initial;
      bottom: 7px;
    }
  }
}

@media (max-width: $small-viewport) {
  .wrap {
    padding-top: $header-height-on-small-viewport;
    transition: filter $popup-animation-duration;
  }
}
