.control {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;

  &:last-child {
    margin-right: 0;
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}
