.menu {
  &__item {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 27px;
    transition: color 0.2s;
    color: rgba($text-color, 0.6);

    &:hover:not(&_active) {
      color: $text-accent-color;
    }

    &_active {
      color: $text-color;
    }
  }

  &__hamburger {
    display: none;
  }

  @media (max-width: $small-viewport) {
    &__hamburger {
      display: block;
    }

    &__collapse {
      display: none;
      position: absolute;
      right: 0;
      background: #fff;
      width: 100vw;
      text-align: center;
      padding: 10px 20px 20px 20px;
      box-shadow: 0 3px 5px 0 #00000014;
    }

    &__item {
      display: inline-block;
      margin-top: 10px;
      font-size: 15px;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &_opened {
      .menu__collapse {
        display: block;
      }
    }
  }
}
