.popup {
  position: fixed;
  transform-origin: left top;

  &_opened {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

.popup-container {
  opacity: 0;
  transition: opacity $popup-animation-duration $popup-animation-timing;
  pointer-events: none;

  body.popup-opened & {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.2s;
  }
}
